.about
{
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
  /* border: 1px solid blue; */
}

.about-col-left 
{
  float: left;
  height: 100%;
  width: 41.5%;
  text-align: left;
  padding: 0 4%;
  /* border: 1px solid gold; */
}

.about-col-right  
{
  float: right;
  width: 41.5%;
  text-align: left;
  padding: 0 4%;
  /* border: 1px solid red; */
}

.avatar
{
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 10px;
}

.icon-bar
{
  position:relative; 
  margin: auto;
  /* background-color: green;
  border: 1px solid teal; */
}

.icon
{
  display: inline;
  padding-right: 50px;
  /* background-color: blue;
  border: 1px solid purple; */
} 

.icon-image-A, .icon-image-B
{
  position: absolute;
  width: 25px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  /* background-color: red;
  border: 1px solid gold; */
}

.icon-image-A:hover
{
  opacity:0;
}


@media only screen and (max-width: 1080px)
{

}


@media only screen and (max-width: 990px)
{
  .about-col-left, .about-col-right
  {
    display: block;
    float: unset;
    width: 92.5%;
  }

  .icon
  {
    padding-right: 60px;
  }

  .icon-image-A, .icon-image-B
  {
    width: 30px;
  }
}