<div class='about'>

    <div class='about-col-left'>
        <ul style="list-style-type:none; padding-left: 0;">
            <img class='avatar' src='assets/images/about/avatar-20px.png'>
            <div class='separator-lg'></div>
            <li>
                Hi, I'm Shawn.
            </li>
            <br>
            <li>
                This website will mainly serve as a portfolio for some projects, as well as anything I decide on.
            </li>
        </ul>
    </div>
    <div class='about-col-right'>
        <ul style="list-style-type:none; padding-left: 0;">
            <li>
                <h4>Experience</h4>
            </li>
            <li>
                <b>IT Solutions Developer Intern</b><br>
                TD Canada Bank<br>
                SEP 2019 - DEC 2019
            </li>
            <br>
            <li>
                <b>Junior Programmer Intern</b><br>
                Screen Industries Research and Training Centre<br>
                JAN 2019 - APR 2019
            </li>
            <li>
                <h4>Education</h4>
            </li>
            <li>
                <b>Dip. Software Engineering</b><br>
                Sheridan College (2020)
            </li>
            <br>
            <li>
                <b>HBSc. Psychology and Sociology</b><br>
                University of Toronto (2015)
            </li>
            <br>
            <!-- <li>
                <h4>Documentation</h4>
            </li>
            <li>
                <a href="assets/docs/pudjowargono_shawn_resume.pdf">Resume</a>
            </li>
            <li>
                <a href="assets/docs/pudjowargono_shawn_transcript.pdf">Sheridan Transcript</a>
            </li> -->
        </ul>
    </div>
</div>

<div class='icon-bar'>
    <h4>Contact</h4>
    <div class='icon'>
        <a href='https://www.linkedin.com/in/scpudjo/'>
            <img class='icon-image-B' alt='linkedin icon B' src='assets/images/about/icons/linkedinB.png'>
            <img class='icon-image-A' alt='linkedin icon A' src='assets/images/about/icons/linkedinA.png'>
        </a>
    </div>
    <div class='icon'>
        <a href='mailto:spudjo@protonmail.com'>
            <img class='icon-image-B' alt='email icon B' src='assets/images/about/icons/emailB.png'>
            <img class='icon-image-A' alt='email icon A' src='assets/images/about/icons/emailA.png'>
        </a>
    </div>
    <div class='icon'>
        <a href='https://github.com/spudjo'>
            <img class='icon-image-B' alt='github icon B' src='assets/images/about/icons/githubB.png'>
            <img class='icon-image-A' alt='github icon A' src='assets/images/about/icons/githubA.png'>
        </a>
    </div>
    <div class='icon'>
        <a href='https://steamcommunity.com/id/xer9/'>
            <img class='icon-image-B' alt='steam icon B' src='assets/images/about/icons/steamB.png'>
            <img class='icon-image-A' alt='steam icon A' src='assets/images/about/icons/steamA.png'>
        </a>
    </div>
</div>