<div class='about'>
    <div class='about-col-left'>
        <ul style="list-style-type:none; padding-left: 0;">
            <img class='avatar' src='assets/images/about/avatar.png'>
            <div class='separator-lg'></div>
            <li>
                Hi, I'm Shawn Pudjo, a recent graduate from Sheridan College. 
            </li>
            <br>
            <li>
                This website will serve as a portfolio for any of my projects, as well as anything well.
            </li>
            <br>
            <li>
                Thanks for visiting!
            </li>
            <li>
                <div class='icon-bar'>
                    <h4>Contact</h4>
                    <div class='icon'>
                        <a href='https://www.linkedin.com/in/scpudjo/'>
                            <img class='icon-image-B' alt='linkedin' src='assets/images/about/icons/linkedinB.png'>
                            <img class='icon-image-A' alt='linkedin' src='assets/images/about/icons/linkedinA.png'>
                        </a>
                    </div>
                    <div class='icon'>
                        <a href='mailto:spudjo@protonmail.com'>
                            <img class='icon-image-B' alt='email' src='assets/images/about/icons/emailB.png'>
                            <img class='icon-image-A' alt='email' src='assets/images/about/icons/emailA.png'>
                        </a>
                    </div>
                    <div class='icon'>
                        <a href='https://github.com/x-raph'>
                            <img class='icon-image-B' alt='github' src='assets/images/about/icons/githubB.png'>
                            <img class='icon-image-A' alt='github' src='assets/images/about/icons/githubA.png'>
                        </a>
                    </div>
                    <div class='icon'>
                        <a href='https://www.instagram.com/_shawn.pudjo/'>
                            <img class='icon-image-B' alt='instagram' src='assets/images/about/icons/instagramB.png'>
                            <img class='icon-image-A' alt='instagram' src='assets/images/about/icons/instagramA.png'>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class='about-col-right'>
        <ul style="list-style-type:none; padding-left: 0;">
            <li>
                <h4>Experience</h4>
            </li>
            <li>
                <b>IT Solutions Developer Intern</b><br>
                TD Canada Bank<br>
                SEP 2019 - DEC 2019
            </li>
            <br>
            <li>
                <b>Junior Programmer Intern</b><br>
                Screen Industries Research and Training Centre<br>
                JAN 2019 - APR 2019
            </li>
            <li>
                <h4>Education</h4>
            </li>
            <li>
                <b>Dip. Software Engineering</b><br>
                Sheridan College (2020)
            </li>
            <br>
            <li>
                <b>HBSc. Psychology and Sociology</b><br>
                University of Toronto (2015)
            </li>
            <br>
            <li>
                <h4>Documentation</h4>
            </li>
            <li>
                <a href="assets/docs/pudjowargono_shawn_resume.pdf">Resume</a>
            </li>
            <li>
                <a href="assets/docs/pudjowargono_shawn_transcript.pdf">Sheridan Transcript</a>
            </li>
        </ul>
    </div>
</div>