<div class='about'>
    <div class='about-row' >
        <div class='about-col'>
            <ul style="list-style-type:none;">
                <img class='avatar' src='assets/images/about/avatar.png'>
                <div class='separator-lg'></div>
                <li>
                    Hi, I'm Shawn Pudjo, a recent graduate from Sheridan College. This website will serve as a portfolio for any of my projects, as well as anything well.
                </li>
                <br>
                <li>
                    Thanks for visiting!
                </li>
                <li>
                    <h4>Contact</h4>
   
                </li>
                <li>
                    <div class='icon-bar'>
                        <div class='icon'>
                            <a href='https://www.linkedin.com/in/scpudjo/'>
                                <img class='icon-image-B' alt='linkedin' src='assets/images/about/icons/linkedinB.png'>
                                <img class='icon-image-A' alt='linkedin' src='assets/images/about/icons/linkedinA.png'>
                            </a>
                        </div>
                        <div class='icon'>
                            <a href='mailto:spudjo@protonmail.com'>
                                <img class='icon-image-B' alt='email' src='assets/images/about/icons/emailB.png'>
                                <img class='icon-image-A' alt='email' src='assets/images/about/icons/emailA.png'>
                            </a>
                        </div>
                        <div class='icon'>
                            <a href='https://github.com/x-raph'>
                                <img class='icon-image-B' alt='github' src='assets/images/about/icons/githubB.png'>
                                <img class='icon-image-A' alt='github' src='assets/images/about/icons/githubA.png'>
                            </a>
                        </div>
                        <div class='icon'>
                            <a href='https://www.instagram.com/_shawn.pudjo/'>
                                <img class='icon-image-B' alt='instagram' src='assets/images/about/icons/instagramB.png'>
                                <img class='icon-image-A' alt='instagram' src='assets/images/about/icons/instagramA.png'>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
        <div class='about-col'>
            <ul style="list-style-type:none;">
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum pretium tellus quis iaculis. Donec dictum volutpat mi, eget convallis sem finibus ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras volutpat massa id augue interdum, vel mattis magna gravida. Fusce eget nisi nec velit accumsan suscipit et nec lorem. 
                </li>
                <br>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum pretium tellus quis iaculis. Donec dictum volutpat mi, eget convallis sem finibus ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras volutpat massa id augue interdum, vel mattis magna gravida. Fusce eget nisi nec velit accumsan suscipit et nec lorem. 
                </li>
            </ul>
        </div>
    </div> 
</div>