body
{
    background-image: url("assets/images/background.gif");
    font-family: 'Roboto Mono', sans-serif;
    color: rgb(155, 155, 155);
    font-size: 0.75rem;
}

h1, h2, h3, h4, h5 
{
    color: #c1b46c;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.5rem;
}

header
{
    position: relative;
    display: block;
    color: #c1b46c;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

nav
{ 
    width: 100%;
    display: block;
    margin: auto;
    top:10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    /* background-color: sienna;
    border: 1px solid lawngreen; */
}

.separator
{
    width: 100%;
    margin: 10px auto;
    height: 2px;
    background-color: rgb(155, 155, 155);
}

.separator-lg
{
    width: 100%;
    margin: 10px auto;
    height: 1px;
    background-color: rgb(155, 155, 155);
}

.separator-md
{
    width: 75%;
    margin: 10px auto;
    height: 1px;
    background-color: rgb(155, 155, 155);
}

.separator-sm
{
    width: 50%;
    margin: 10px auto;
    height: 1px;
    background-color: rgb(155, 155, 155);
}

.content-main
{
    position:relative;
    background-color:#111111; 
    height: 675px;  
	width: 800px;
	margin: 100px auto 0px;
	box-shadow:black 0px 5px 15px;
	text-align:center;
    padding: 40px 0px;
}

a:link
{
    text-decoration: inherit;
    color: inherit;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

a:visited
{
    text-decoration: inherit;
    color: inherit;
}

a:hover
{
    color: #c1b46c;
    text-decoration: line-through dotted;
}



@media only screen and (max-width: 950px)
{

    body
    {
        background-image: none;
        background-color: #111111;
        font-family: 'Roboto Mono', sans-serif;
        color: rgb(155, 155, 155);
        font-size: 0.75rem;
    }

    .content-main
    {
        height: unset;  
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .avatar {
        max-width: 80%;
    }

    /* nav
    {
        display: block;
    }

    footer
    {
        display: none;
    } */
}